{
    "singleQuote": false,
    "semi": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "singleAttributePerLine": true,
    "endOfLine": "lf"
}
